<!-- I can say body and make all of the bodies the same, or I can create classes and apply the colors to only the classes I want. -->

body 
{
    background-color: gray;
}

h1.uppercase 
{
    text-transform: uppercase;
}
h1
{
    border-bottom-style:solid;
    border-color: Lime;
    color: Lime;
}

h2
{
    color: Aqua;
    border-left:solid;
    border-right: solid;
    border-color: Aqua;
}
h2.capitalize
{
    text-transform: capitalize;
}

p
{
    border: 2px solid Red;
    border-radius: 7px;
    text-color: Red;
}
