
body {
    background-color: grey;
}


section {
    display: flex;
}

aside {
    flex: 1
}

article {
    flex: 4
}

.active {
    float: left;
    display: inline;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: lime;
}

h1.uppercase 
{
    text-transform: uppercase;
}
h1
{
    border-style:solid;
    border-color: Lime;
    color: Lime;
}
img
{
    max-width:35%;
    max-height:35%;
    padding: 80px;
}

.about {
    color: aqua;
}

h2
{
    margin: 15px;
    color: Aqua;
    border: 2px  solid aqua;
    //border-right: solid;
    border-color: Aqua;
}
h2.capitalize
{
    text-transform: capitalize;
}

p
{
    color: Aqua;
    
}
.menu{
   
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whiteSmoke;
    font-family: "Times New Roman", Times, serif;
}


.listElements {
    float: left;
    display: inline;
    display: block;
    color: white;
    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

